<?xml version="1.0"?>
<ruleset name="Imagina CRM">
    <description>PHP_CodeSniffer ruleset for Imagina CRM.</description>

    <file>src</file>
    <file>imagina-crm.php</file>
    <file>uninstall.php</file>

    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>
    <exclude-pattern>dist/*</exclude-pattern>
    <exclude-pattern>tests/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg name="parallel" value="8"/>
    <arg value="ps"/>

    <config name="testVersion" value="8.2-"/>
    <config name="minimum_supported_wp_version" value="6.4"/>

    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="Universal.Operators.DisallowShortTernary.Found"/>
    </rule>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="imagina-crm"/>
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="imcrm"/>
                <element value="imagina_crm"/>
                <element value="ImaginaCRM"/>
                <element value="IMAGINA_CRM"/>
            </property>
        </properties>
    </rule>

    <rule ref="PHPCompatibilityWP"/>
</ruleset>
